html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #333;
}

h2, h3, h4 {
    font-weight: 400;
    color: #386641;
}

a {
    font-family: 'Monserrat', sans-serif;
    font-weight: 100;
    color: #FFADBB; 
    text-decoration: none;
    size: 1rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #386641;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

p {
    color: #386641;
    font-size: 1.1rem;
}