.btn {
    background-color: #FFADBB;
    color: white;
    text-decoration: none;
    padding: .75rem 1.2rem .7rem 1.2rem;
    display: inline-block;
    border-radius: 30px;
}

.btn--orange {
    background-color: #FFADBB;
}

.btn--large {
    padding: 1.1rem 1.9rem;
}

.btn { 
    @media (min-width: 530px) {
        font-size: 1.2rem;
    }
}
