.experience-box {
    background-color: #386641;
    width: 48%;
    float: left;
    padding: 20px 40px;
    border: #bbd09f 8px solid;
    margin-top: 20px;
}

.experience-box__right {
    background-color: #386641;
    width: 48%;
    float: right;
    padding: 20px 40px;
    border: #bbd09f 8px solid;
    margin-top: 20px;
}

.experience-box__title {
    text-align: center;
    font-size: 3rem;
    color: white;
}

.experience-box__align-left {
    width: 50%;
    float: left;
    text-align: center;
}

.experience-box__align-right {
    width: 50%;
    float: right;
    text-align: center;
}

.experience-box__logo-1 {
    height: 80px;
    padding-bottom: 20px;
    transform: translateY(20%);
}

.experience-box__logo-2 {
    height: 80px;
    padding-bottom: 20px;
    transform: translateY(20%);
}

.experience-box__logo-3 {
    height: 100px;
    padding-bottom: 20px;
}

.experience-box__logo-4 {
    height: 150px;
    padding-bottom: 20px;
}

.education-box__align-center {
    width: 100%;
    text-align: center;
}

.education-box__align-left {
    width: 50%;
    float: left;
    text-align: center;
}

.education-box__align-right {
    width: 50%;
    float: right;
    text-align: center;
}

.education-box__logo-1 {
    height: 130px;
}

.education-box__logo-2 {
    height: 100px;
    transform: translateY(-25%);
}

.education-box__logo-3 {
    height: 50px;
}